[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 12.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 12.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 12.0
